{{ define "main" }}
  {{- partial "profile.html" }}

  {{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
  {{- $paginator := .Paginate $pages }}

  <section class="article-list">
    {{ range $paginator.Pages }}
      {{ .Render "summary"}}
    {{ end }}
  </section>
<!-- JuicyAds v3.0 -->
<script type="text/javascript" data-cfasync="false" async src="https://poweredby.jads.co/js/jads.js"></script>
<ins id="1027690" data-width="728" data-height="102"></ins>
<script type="text/javascript" data-cfasync="false" async>(adsbyjuicy = window.adsbyjuicy || []).push({'adzone':1027690});</script>
<!--JuicyAds END-->
  {{- if gt $paginator.TotalPages 1 }}
    {{- partial "pagination.html" . -}}
  {{- end }}

{{ end }}
