{{ define "main" }}
  {{- partial "profile.html" }}

  {{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
  {{- $paginator := .Paginate $pages }}

  <section class="article-list">
    {{ range $paginator.Pages }}
      {{ .Render "summary"}}
    {{ end }}
  </section>

<center><script type="text/javascript">
	atOptions = {
		'key' : 'e145eaa981f274b7a33ae08ba80c417c',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.profitabledisplaynetwork.com/e145eaa981f274b7a33ae08ba80c417c/invoke.js"></scr' + 'ipt>');
</script></center>

  {{- if gt $paginator.TotalPages 1 }}
    {{- partial "pagination.html" . -}}
  {{- end }}

<!-- JuicyAds v3.0 -->
<center><script type="text/javascript" data-cfasync="false" async src="https://poweredby.jads.co/js/jads.js"></script>
<ins id="1027693" data-width="300" data-height="62"></ins>
<script type="text/javascript" data-cfasync="false" async>(adsbyjuicy = window.adsbyjuicy || []).push({'adzone':1027693});</script></center>
<!--JuicyAds END-->
  
{{ end }}
