.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2.5rem;
  padding: 0 1.6rem;

  &__title {
    font-size: 2.8rem;
    font-family: 'Eczar', serif;
    margin: 1.6rem 0;
  }
}

body {
  font-family: arial;
}

.app-nav {
  background: #eee;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  text-align: center;
  
  ul {
    display: flex;
    flex-flow: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    border-right: 1px solid #bbb;
    flex-grow: 1;
    
    &:first-child {
      border-left: 1px solid #bbb;
    }
  }
  
  a {
    color: #222;
    display: block;
    padding: .5em 1em;
    position: relative;
    text-decoration: none;
    
    &:after {
      background: #000;
      content: '';
      left: 0;
      right: 0;
      height: 0px;
      bottom: 0;
      position: absolute;
      transition: height .2s ease-in-out;
    }
    
    &:hover,
    &:focus {
      &:after {
        height: 4px;
      }
    }
    
    &.is-active,
    &[aria-current="page"] {
      background: #333;
      color: #fff;
      
      &:hover,
      &:focus {
        &:after {
          background: #fff; 
        }
      }
    }
  }
}
