@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@700&display=swap');

@import "external/reset.scss";
@import "article.scss";
@import "footer.scss";
@import "header.scss";
@import "post.scss";
@import "profile.scss";
@import "pagination.scss";
@import "search.scss";
@import "tags.scss";

html {
  font-size: 62.50%;
}
a {
  color: #1e1e1e;
  text-decoration: none;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.main {
  min-height: calc(100vh - 87px - 48.5px);
}
.not-found {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12rem;

  span {
    font-size: 2.4rem;
  }
}
span.fontawesome-inline-svg {
  display: inline-block;
  height: 0.9em;
  width: 0.9em;
  top: 0.1em;
  position: relative;
}
/* Style buttons */
.btn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
* {
  box-sizing: border-box;
}


.blog-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Lato,sans-serif;
    margin-bottom: 3.3rem;
}
.blog-pagination__link {
    color: #494a52;
}
.blog-pagination__prev-link--disabled, .blog-pagination__next-link--disabled {
    color: #b0c1d4;
    pointer-events: none;
    cursor: default;
}

.blog-pagination__prev-link {
    text-align: right;
    margin-right: .25rem;
}
.blog-pagination__prev-link, .blog-pagination__next-link {
    display: inline-flex;
    align-items: center;
}
.blog-pagination__link {
        display: block;
    transition: color 0.1s ease-in-out;
    line-height: 1.25;
    color: #77838f;
    background-color: #fff;
    border: 0 solid #77838f;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    font-weight: 600;
  margin-left:5px;
}
.blog-pagination__link:hover {
     text-decoration: none;
    color: #3e416d;
    background-color: rgba(9, 27, 18, 0.1);
    border-color: rgba(9, 27, 18, 0.1); 
}
.blog-pagination__link--active {
    border: 2px solid #b0c1d4;
}
