{{ define "main" }}
<div class="post">
  <div class="post__header">
    {{ $image := .Resources.GetMatch .Params.image }}
    <img class="post__image" src="{{ $image.RelPermalink }}">
  </div>

<script async type="application/javascript" src="https://a.realsrv.com/ad-provider.js"></script> 
 <ins class="eas6a97888ec52c042c679a36e919843cca" data-zoneid="4987804"></ins> 
 <script>(AdProvider = window.AdProvider || []).push({"serve": {}});</script>

<!-- JuicyAds PopUnders v3 Start -->
<script type="text/javascript" src="https://js.juicyads.com/jp.php?c=34d43303x2a4u4q2x26413a464&u=http%3A%2F%2Fwww.juicyads.rocks"></script>
<!-- JuicyAds PopUnders v3 End -->
  
  {{ with .Params.tags }}
  <div class="post__tags">
    {{ range . }}
      <a class="post__tag" href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
  </div>
  {{ end }}
  
<center><!-- JuicyAds v3.0 -->
<script type="text/javascript" data-cfasync="false" async src="https://poweredby.jads.co/js/jads.js"></script>
<ins id="1027698" data-width="376" data-height="232"></ins>
<script type="text/javascript" data-cfasync="false" async>(adsbyjuicy = window.adsbyjuicy || []).push({'adzone':1027698});</script></center>
<!--JuicyAds END-->
  
  <section class="post__content">
    <h1 id="title">{{ .Title }}</h1>
    <div>
      <article>
          {{ .Content }}
      </article>
    </div>
  </section>
</div>

<center><script type="text/javascript">
	atOptions = {
		'key' : '6f06b22c8d7e5d1ed1fd7e5b72d4fe70',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.profitabledisplaynetwork.com/6f06b22c8d7e5d1ed1fd7e5b72d4fe70/invoke.js"></scr' + 'ipt>');
</script></center>

{{ end }}
