<script async type="application/javascript" src="https://a.realsrv.com/ad-provider.js"></script> 
 <ins class="eas6a97888ec52c042c679a36e919843cca" data-zoneid="4987804"></ins> 
 <script>(AdProvider = window.AdProvider || []).push({"serve": {}});</script>

{{ define "main" }}
<div class="post">
  <div class="post__header">
    {{ $image := .Resources.GetMatch .Params.image }}
    <img class="post__image" src="{{ $image.RelPermalink }}">
  </div>

  {{ with .Params.tags }}
  <div class="post__tags">
    {{ range . }}
      <a class="post__tag" href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
  </div>
  {{ end }}

  <section class="post__content">
    <h1 id="title">{{ .Title }}</h1>
    <div>
      <article>
          {{ .Content }}
      </article>
    </div>
  </section>
</div>
{{ end }}
