{{- define "main" }}
<section class="tags">
  <a class="tags__inner" href="{{ .Permalink }}">
    <div class="tags__header">
      {{ $image := .Resources.GetMatch .Params.image }}
      <img class="tags__image" src="{{ $image.RelPermalink }}">
    </div>
    <div class="tags__text">
      <h3 class="tags__title">{{ .Title }}</h3>
    </div>
  </a>
  <footer class="tags__footer">
    <time datetime="{{ .Date }}">{{ .Date.Format "2006/01/02" }}</time>
  </footer>
</section>{{ end }}
    {{- partial "pagination.html" . -}}
</section>
{{- end }}
