<div class="header"></div>
     <div class="nav-bar">
        <div class="nav-container">
            <div class="brand">
        <a href="{{ "search" | absURL }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
          </svg>
        </a>

            </div>
            <nav>
                <div class="nav-mobile">
                    <a href="#" id="nav-toggle">
                        <span></span>
                    </a>
                </div>
                <ul class="nav-list">
                    <li><a href="/">Home</a></li>
                    <li><a href="/tags/censored/">Censored</a></li>
                    <li><a href="/tags/uncensored/">Uncensored</a>
                    <li><a href="/tags/amateur/">Amateur</a>
                    
                </ul>
            </nav>
       </div>
    </div> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://j91.asia/asset/navdrop.js"></script>

<center><script type="text/javascript">
	atOptions = {
		'key' : 'e145eaa981f274b7a33ae08ba80c417c',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.profitabledisplaynetwork.com/e145eaa981f274b7a33ae08ba80c417c/invoke.js"></scr' + 'ipt>');
</script></center>
